.speed-slider {
  width: 30%;
  float: right;
  margin-right: 2em;
}

.speed-slider-core-container {
  height: 1.5em;
  color: white;
}

.speed-heading {
  color: white;
  font-size: 2em;
  margin-bottom: 0.5em;
}
