.speed-slider-container {
  position: absolute;
  right: 2em;
  width: 30%;
  top: 4em;
  padding-top: 5em;
  display: inline-block;
}

.speed-slider-core-container {
  height: 1.5em;
  color: white;
}
